body{
	margin:0;
	padding:0;
    font-family:Arial;
	background:#121212;
}
#header{
	background-image:url(images/fill_header.jpg);
	height:250px;
	width:100%;
	position:relative;
	
}
#title_header{
    position:absolute;
	width: 50%;
    height:40x;
    top: 53px;
    left: 50px;
}
#title_header img{
	position:absolute;
}
#title_header h1{
	position:relative;
	top:30px;
	right:-110px;
}
.menu_header {
	position:absolute;
	top:187px;
	left:68px;
	display: flex;
}
.menu_header a:link {
	text-decoration:none;
}
.dot {
	color: #595959;
}
.icon {
	height:150px;
	margin-right:8px;
	text-align:center;
}
.icon img {
	border-radius:1px;
}
.icon h4 {
	margin-top:0;
	color:#FFF;
	text-decoration:none;
}
#content
{
	width: 60%;
	margin-top:7%;
	margin-left:68px;
	clear:both;
}
#content_left {
	margin-top: 2%;
	float: left;
	clear: right;
	width: 32%;
	background-color: #232326;
	float:left;
	clear:right;
}
#l_title {
	margin-top: 20%;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 8%;
	padding-left:3%;
	padding-bottom:26%;
	border-top: solid 1px #707070;
	border-bottom: solid 1px  #2c2c2c;
}
#l_title p {
	color:#7e7e7e;
	font-size:12px;
}

#l_list {
	padding-left: 6%;
	font-size:12px;
	line-height: 25px;
	padding-bottom:10%;
	
}
#l_list ul {
	list-style-image: url("images/arr.gif");
}
#l_list ul li {
	color: #595959;
	text-decoration: underline;
}
#content_right {
	float:left;
	clear:right;
	width:62%;
	margin-left:0px;
	font-size:11.5px;
	color:#7e7e7e;
	margin-top:7%;
}
.r_main {
	margin-top:2%;
	margin-left:40px;
}
.r_main img{
	margin-bottom:25px;
}

.r_item {
	height:50px;
	width:100%;
}
.r_item img{
	margin-left:10px;
	margin-bottom:2px;
}
.r_item p {
	margin-left:10px;
	line-height:15px;
}
.inf {
	margin-top: 8%;
	margin-left: 10px;
	margin-right: 20px;
	padding-top: 10%;
	border-top: dotted 1px #2c2c2c;
	position:relative;
	clear:both;
}
.inf img {
	border-radius: 10px;
	position: absolute;
	top: 20%;
	
}
.inf a{
	position:absolute;
	top: 20%;
	left:5%;
	text-decoration:none;
	color:white;
}
#del {
	margin-top:35%;
}
#footer {
  padding-top:70px;
  padding-left: 70px;
  margin-top: 20px;
  color: #7e7e7e;
}

a {
  color: #7e7e7e;
  text-decoration: underline;
}
#border{
  border-top: 1px dotted #2c2c2c;
  width:790px;
  margin-bottom:10%;
}
#f_info{
  padding: 20% 0 10px 0;
  width: 670px;
  font-size:11.5px;
 
}

