body, h2 {
	padding: 0;
	margin: 0;
}
#wrapper {
	width: 700px;
	height:400px;
	margin-left: 200px;
	margin-top: 100px;
}
#content {
	display: flex;
	margin: 0;
	padding: 0;
}
#header {
	font-style: "30px Arial black";
	text-align: center;
	margin-bottom: 10px;
}
#left {
	margin:0;
	width:50px;
	height: 400px;
	transform: rotate(-90deg);
	position:absolute;
}
#left p{
	width:400px;
	color:#999;
	text-align: center;
	position: relative;
	top: 75px;
	left: -140px;
}
#right {
	margin-top:15px;
	margin-left:20px;
	width:40px;
}
#footer {
	color:#999;
	font-style: "20px Arial gray";
	text-align: center;
	padding-top: 10px;
}