/* CSS Document */
#wrapper {
	margin-left:30%;
	margin-top:10%;
	width:28%;
}
#input_date{
	position:relative;
}
#input_date img {
	position:absolute;
	top:2px;
	left:150px;
}
#input_date input[type="text"] {
    height:20px;   
}
#tbCalendar{
	width:200; 
	border:solid 2px #000000;
	cellpadding:2px; 
	text-align:center;
	display:none;
	background:#000;
}
td {
	height:36px;
	width:55px;
}
#m_select {
	height:36px;
	width:100%;
}
#y_select {
	height:36px;
	width:100%;
}
#icon_calendar {
	cursor:pointer;
}
#y_pre {
	curosor:pointer;
}
#y_next {
	curosor:pointer;
}
#m_pre {
	curosor:pointer;
}
#m_next {
	curosor:pointer;
}