/* CSS Document */
body {
	margin:0;
	padding:0;
	font-family: Arial,serif;
}
p,h4 {
	margin:0;
	padding:0;
}
#content{
	margin-left:10%;
	width:80%;
	background-color:#292728;
	padding-bottom:-5px;
}
#wrap_content{
	display:flex;
}
#content_left{
	margin-top:20px;
	margin-left:2.5px;
	display:inline-block;
	width:62%;
}
#l_top{
	background-color:#FFF;
	width:98%;
}
#t_main_left{
	width:49.5%;
	float:left;
	clear:both;
	margin-bottom:30px;
	
}
#t_main_right{
	width:50.3%;
	float:left;
	border-left:dotted 1px gray;
	margin-bottom:30px;
}
.t_title{
	background-image:url(images/h2-confidential-heading-bg.gif);
	color:#FFF;
	border-top: solid 1px white;
	border-bottom: dotted 1px white;
	border-left:solid 1px black;
	padding-left:10px;
}
#t_img_1 {
	padding-left:10px;
	padding-right:10px;
	padding-top:2%;
}
#t_img_2 {
	padding-right:1%;
	padding-left:14px;
	padding-top:2%;
}
.t_icon {
	padding-left:10px;
	position:relative;
		
}
.t_icon a {
	position:absolute;
	left:248px;
	top:-1px;
	text-decoration:none;
	color:black;
	font-size:15px;
}
.t_info{
	padding-top:3px;
	padding-left:10px;
	font-size:12px;
}
.t_info h4{
	margin-bottom:4px;
}
#l_img {
	margin-left:12px;
	width:100%;
}
#l_top img {
	margin-bottom:-4px;
}
#l_bottom {
	width: 100%;
	margin-top:10px;
}
#b_main_left {
	width: 310px;
	background-color:#FFF;
	float:left;
	clear:right;
}
.b_l_title {
	background-image:url(images/h2-top-movie-trailers-bg.gif);
	color:#FFF;
	border-top: solid 1px white;
	border-bottom: dotted 1px white;
	padding-left:10px;
}
#dropdown {
	border-bottom:dotted 1px #CCCCCC;
}
.dropdown_title {
	border-bottom: 1px solid #C5C5C5;
    background: url('images/h3-movie-trailers-bg.gif');
    padding: 0px 0px 2px 8px;
}
.drop_down {
    padding: 1px 0 1px 2px;
	border:none;
    font-weight: bold;
    color: #1482BD;
    font-size: 12px;
    background-image:url(images/top-movie-trailers-arrows.gif);
	background-color:transparent;
    background-repeat: no-repeat;
    background-position: 285px 7px;
    width: 100%;
	text-align:left;
}
.drop_right {
    padding: 1px 0 1px 2px;
	border:none;
    font-weight: bold;
    color: #1482BD;
    font-size: 12px;
    background-image:url(images/top-movie-trailers-arrows.gif);
	background-color:transparent;
    background-repeat: no-repeat;
    background-position: 285px -18px;
    width: 100%;
	text-align:left;
}
.show{
	display:flex;
}
.dropdown_content
{
	display:flex;
	clear:right;
	padding-bottom:5px;
	border-bottom: solid 1px #999999;
}
.dropdown_content_info
{
	padding-left:10px;
	float:left;
	font-size:12px;
}
.dropdown_content_info p
{
	font-size:12px;
	line-height:1.1;
	margin-bottom:5px;
	padding-top:5px;
}
.dropdown_content_info a {
	background-image:url(images/entertainment-icons.gif);
	background-position: 0px -78px;
	background-repeat:no-repeat;
	margin-top:1px;
    padding: 15px 0 0 20px;
	display:inline;
	text-decoration:none;
	color:#1482BD;
}
.now_showing{
    padding: 3px 0 3px 6px;
    display: flex;
    background: white;
}
.now_showing p{
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin: 5px 0 0 5px;
}
.now_showing select{
    width: 64%;
    height: 18px;
    margin-left: 7px;
}
.now_showing img {
    width: 17px;
    height: 21px;
}
#b_main_right{
    margin-bottom:30px;
	margin-left:19px;
	background-color:#FFF;
    float: left;
	width:49%;
}
#b_r_title {
    background-image:url(images/h2-top-movie-review-bg.gif);
	color:#FFF;
	border-top: solid 1px white;
	border-bottom: dotted 1px white;
	padding-left:10px;
}
.b_l_content{
	padding-bottom:25px;
	margin-bottom:20px;
}

.b_l_content h2{
    padding: 6px 0 6px 9px;
    font-size: 15px;
    color: #1482BD;
}
#icon_b_r_1{
    background: url('images/topic-star-ratings.gif') no-repeat;
    width: 100%;;
    height: 16px;
    float: left;
	margin-left:10px;
    background-position: 258px -64px;
    font-size: 15px;
    color: #1482BD;
	text-decoration:none
}
#icon_b_r_2{
    background: url('images/topic-star-ratings.gif') no-repeat;
    width: 100%;;
    height: 16px;
    float: left;
	margin-left:10px;
    background-position: 258px -52px;
	font-size: 15px;
    color: #1482BD;
	text-decoration:none;
}
.b_l_content_info{
	clear:both;
	padding-top:5px;
    margin-left: 1px;
    display: flex;
    
}
.b_l_content_info img{
    width: 99px;
    height: 66px;
}
.b_l_content_info p{
    margin-left: 9px;
    margin-right: 11px;
    font-size: 12px;
    line-height: 1.3;
}
#icon_b_r_2 {
	background: url('images/entertainment-icons.gif');
    background-repeat: no-repeat;
    background-position: 0px -79px;
    padding: 15px 0 10px 20px;
    font-weight: bold;
    color: #1482BD;
	width:300px;
    font-size: 12px;
    margin-left: 8px;
	border-bottom:dotted  1px #CCC;
}
.local-cinema-listings{
    display: flex;
    margin: auto;
    width: 307px;
    padding-bottom: 7px;
    padding-top: 6px;
}
.local-cinema-listings a{
    font-weight: bold;
    font-size: 12px;
    color: #1482BD;
	text-decoration:none;
}
.local-cinema-listings img{
    margin: 0 5px -2px 1px;
}
#more_movie{
    padding-left: 72px;
	text-decoration:none;
	color:#666;
}
#content_right{
	margin-top: 11px;
    margin-left: 30px;
	clear:right;
}
.search {
    margin-top: 10px;
}
.search input {
    height: 20px;
    width: 146px;
    margin-left: 15px;
}
.search button {
    width: 63px;
    height: 16px;
    background-color: #8B1C62;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    font-weight: bold;
    margin-left: 5px;
}
#content_footer{
    margin-top: 2px;
    border-top: 1px dotted white;
    padding-top: 9px;
    padding-bottom: 11px;
    text-align: center;
}
#content_footer ul li{
    display: inline-block;
    text-align: center;
    width: 117px;
    height: 64px;
    margin: 0 36px;
}
#content_footer ul li a{
    text-align: center;
    color: white;
    margin-top: 8px;
	text-decoration:none;
}
#content_footer ul li p{
    margin-top: 7px;
}
#footer{
    position: relative;
    background: white;
    text-align: center;
    padding-top: 10px;
    color: #1482BD;
}
#footer a{
    font-size: 11px;
    color: #1482BD;
	text-decoration:none;
}
#back-top{
    position: absolute;
    margin-left: 47px;
}
#footer p{
    margin: 7px 0 4px 0;
}